<h1>災情訊息中心</h1>

<table class="table">
  <tr>
    <td>標題</td>
    <td>發佈者</td>
    <td>發佈時間</td>
    <td>操作</td>
  </tr>
  <% @events.each do |e| %>
    <tr>
      <td><%= link_to "#{e.topic}", event_path(e) %></td>
      <td><%= e.user.short_name %></td>
      <td><%= e.updated_at %></td> 
      <td><%= link_to "細節", event_path(e), :class => "btn btn-primary" %>
      <%= link_to "編輯", edit_event_path(e) , :class => "btn btn-default"%>
      <%= link_to "刪除", event_path(e), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>  
</table>
  
  <hr>

<p><%= paginate @events %></p>

<p><%= link_to "新增訊息", new_event_path, :class => "btn btn-primary" %></p>
