<%= form_for @event, :url => events_path do |f| %>
<hr>
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>

<%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Create" %>
<% end %>
<p><%= link_to 'Cancel', events_path %></p>