
<h1><%= @event.topic %></h1>
<h3>類別：</h3><p><% @event.categories.each do |c|%> 
  <%= c.name %>
  <% end %></p>

  <table class="table">
<tr>
  <td rowspan="2">
    詳細內容：<%= simple_format(@event.content) %>
  </td>
  
  <td>Published by <%= @event.user.short_name %>
  </td>
</tr>
<tr>


  <td>
    Published at <%= @event.updated_at %>
  </td>
</tr>
  </table> 
  
<p>Comments here:</p>


<table class="table">
  <% @comments.each do |cm| %>
<tr>
  <td rowspan="2"><%= cm.reply %></td>
  
  <td>by <%= cm.user.short_name%> on <%=cm.updated_at%></td>
</tr>
<tr>
  

  <td>
  <%= link_to '刪除', event_comment_path(@event, cm), :method => :delete %>
  </td>
</tr>
  <% end %>
</table>


<%= form_for @comment, :url => event_comments_path(@event) do |f| %>


<%= f.label :reply, "回覆" %>
<%= f.text_area :reply %>

    <%= f.submit "送出" %>
<% end %>


<p><%= link_to 'Back to index', events_path %></p>